<head>
  <title>About Us|Nearluk</title>
  <meta name="title" content="About Us|Nearluk" />
  <meta name="description"
    content="NearLuk is a online Rental,Lease & shared properties platform for Independent Houses,Flats,Villas,Hostels/Paying Guest,Shared spaces,Office spaces,Hotel Bookings,Banquet halls,Commercial properties,Lands in India." />
</head>

<div class="containt-fluid ">
  <section class="about_us">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 cpl-md-12">
          <div class="why_content">
            <h4>About US:
            </h4>
            <span class="small-text">Unic Sol India Private Limited</span>
            <p class="text">Unic Sol India Private Limited is a leading global information Technology company providing
              Solutions, Services and Products to a broad range of industry verticals. Unic Sol India Pvt ltd was
              established in 2015 and based in Hyderabad, Telangana State, INDIA. Unic sol is a product-based company.
              Through a combination of comprehensive experience, creative vision and dedicated professionals, we create
              reliable and customized solutions with committed delivery schedule to the satisfaction of our customers by
              our professionals.
            </p>
            <p>Nearluk is a product of Unic Sol India Pvt Ltd which is solely rental/ lease-based properties. We provide
              nearly twenty-six plus categories of Residential and Commercial rental properties where it will make the
              user and owner beneficial.
            </p>
          </div>

        </div>
        <div class="col-lg-6 cpl-md-12">
          <img src="../../assets/img/img.png" width="100%" class="img-fluid">
        </div>
      </div>
    </div>
  </section>
  <section class="mid-content">
    <div class="service-con">
      <h2>OUR FEATURES</h2>
      <p>Our Featured Service that we Provide</p>
    </div>
    <div class="container">
      <div class="row" style="margin:0px;">
        <div class="main-ul">
          <ul>
            <li>
              <p>
                <img src="../../assets/img/icon-1.jpg">
              </p>
              <h2>Agent</h2>
              <p>An Agent is a person who acts as medium between Owner and Tenant.He connects to Owner and Owner
                connects to
                Agent, it goes vice versa.</p>
              <p></p>
            </li>
            <li>
              <p>
                <img src="../../assets/img/icon-2.jpg">
              </p>
              <h2>Bidding</h2>
              <p>Registered users can bid for a property posted by Owners . Can view the top biddings for a property</p>
              <p></p>
            </li>
            <li>
              <p>
                <img src="../../assets/img/icon-3.jpg">
              </p>
              <h2>Compare</h2>
              <p>A user can compare two properties that he founds reliable and apt the interested property.
              </p>
              <p></p>
            </li>
            <li>
              <p>
                <img src="../../assets/img/icon-4.jpg">
              </p>
              <h2>Favourites</h2>
              <p>TUser can add interested properties to Favorites and user can easily view further.

              </p>
              <p></p>
            </li>
            <li>
              <p>
                <img src="../../assets/img/icon-5.jpg">
              </p>
              <h2>Maps</h2>
              <p>It is a feature where a map will displayed for every chosen property. It shows the route.</p>
              <p></p>
            </li>

            <li>
              <p>
                <img src="../../assets/img/icon-6.jpg">
              </p>
              <h2>NearU</h2>
              <p>NearU shows the nearby properties located from your current or preferred location.</p>
              <p></p>
            </li>
            <li>
              <p>
                <img src="../../assets/img/icon-7.png" style="width: 54px;"> 
              </p>
              <h2>Pay Rent</h2>
              <p>Pay your Rent, Maintenance and Rental deposit through Pay rent feature with credit/debit cards or
                through Net banking. </p>
              <p></p>
            </li>
            <li>
              <p>
                <img src="../../assets/img/icon-8.png" style="width: 54px;">
              </p>
              <h2>Chat
              </h2>
              <p>We are providing internal communication between the tenant and the owner.
              </p>
              <p></p>
            </li>
            <li>
              <p>
                <img src="../../assets/img/icon-9.png" style="width: 54px;">
              </p>
              <h2>Rental Property Valuation</h2>
              <p>We verify and provide details about average rental amount for properties based on area.
              </p>
              <p></p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="why_us">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 cpl-md-12">
          <div class="why_content">
            <h4>Why Nearluk?</h4>
            <p> Nearluk is attempting to provide better rental solutions with updating technologies. For better ease we
              offered internal communication system between owner and the tenant, bidding, NearU, and comparing the
              properties. Whatever be your budget, whatever you may call a residential or a commercial property we have
              something for you! We offer the rental property details in the Metropolitan cites and also remote areas.
            </p>
            <p>Delhi | Mumbai | Kolkata | Chennai | Bangalore | Hyderabad | Ahmedabad | Pune | Kanpur | Visakhapatnam |
              Surat | Jaipur | Nagpur | Patna | Sikkim | Arunachal Pradesh | Mizoram | Manipur | Assam | Uttarakhand |
              Goa | Maharashtra | Odisha
            </p>
          </div>
        </div>
        <div class="col-lg-6 cpl-md-12">
          <video _ngcontent-c9="" controls="" style="width:100%">
            <source src="../../assets/images/video.mp4" type="video/mp4">
            <source src="../../assets/images/video.mp4" type="video/ogg">
          </video>
        </div>
      </div>
    </div>
  </section>
</div>


<app-footer-main></app-footer-main>