<div class="col-lg-6 col-md-12 mx-auto">
  <div class="card">

    <form #forgotForm='ngForm' autocomplete="off">

      <div class="card-body">
        <span class="text-center">
          <h3> Reset Password</h3>
        </span>
        <hr>

        <!---------------- MOBILE NUMBER FOR RESET PASSWORD ------------------->
        <div class="row" *ngIf="!displayOtp">
          <div class="col-lg-10 col-md-12 mx-auto">
            <input type='text' pInputText pKeyFilter="pint" placeholder="Enter your registered mobile number"
              #mobile="ngModel" name='mobile' [(ngModel)]="forgot.mobile" class="form-control" minlength="10" maxlength="10">
          </div>
          <div class="col-lg-10 col-md-12 mx-auto text-center ">
            <button (click)='Forgotpwd()' class="btn btn-info btn-forget" type='submit'>
              <i class="fa fa-paper-plane" aria-hidden="true"></i> Submit</button>
          </div>
        </div>

        <!------------------ OTP FOR RESET PASSWORD ----------------------->
        <div *ngIf="displayOtp;">
          <div *ngIf="!updatepassshow">
            <div class="form-group">
              <input class="form-control" type="text" maxlength="6" pInputText pKeyFilter="pint" #otp id="Max"
                placeholder="Enter OTP sent to {{forgot.mobile}}" required>
            </div>
            <div class="pull-right">
              <button class="btn btn-primary" (click)="resentOtp(forgot.mobile)">Resend OTP</button>&nbsp;
              <button [disabled]="otp.invalid" class="btn btn-success" (click)="verifyOtp(otp)">Verify</button>
            </div>
          </div>
        </div>

        <!------------------- UPDATE PASSWORD --------------------->
        <div *ngIf="updatepassshow">
          <!-- NEW PASSWORD -->
          <div class="form-group">
            <input type="text" class="form-control" #upassword id="Max" placeholder="Enter your new password" required>
          </div>
          <!-- CONFIRM PASSWORD -->
          <div class="form-group">
            <input type="text" class="form-control" #upassword1 id="Max" placeholder="Confirm password" required>
          </div>
          <div id="otpButton">
            <button [disabled]="otp.invalid" class="btn btn-success" (click)="updatepassword(upassword,upassword1)">
              Update Password</button>
          </div>
        </div>
      </div>
    </form>
  </div>