<div class="container" ng-show="showApple" style="margin-top: 10%">
    <div class="headding" id="head">
        <h4 style="font-family:verdana;"><u> Privacy Policy</u></h4>
    </div>
    <br>

    <div class="content">

        <b>Introduction</b>
        <p>
            Nearluk commit towards respecting the online privacy of the user(s) using our services. Nearluk strive to
            offer our user(s) a safe and secure user experience and recognize the requirement for protection and proper
            management of any information (Personal Information) of the user(s) share with us.


        </p>

        <b>Demographic information we collect:</b>
        <p>Nearluk will collect the following information of the users and/or registered members which includes:

        </p>

        <ul>
            <li>
                First Name & Last Name
            </li>
            <li>Email address

            </li>

            <li>Telephone number or contact number

            </li>

        </ul>
        <p>If you are a user (Owner, Tenant or Agent) along with the above-mentioned details we will collect:
        </p>

        <ul>
            <li>
                Property Details (complete description of the property including photos, property facing, property age,
                address of the property).
            </li>
            <li>Owner Information (Basic information of the owner which is necessary to contact).

            </li>
            <li>CFacilities & Amenities ( Regarding the Power back up, Parking, Drinking water, Security, Play area for
                kids, Balconies, Work out space, and Terrace rights)

            </li>
            <li>TProperty Info (Provides the complete information about the floors, rest rooms and the type of property
                either Independent Houses or Flats, Villas, Hostels / Paying Guest, Shared spaces, Office spaces, Hotel
                Bookings, Banquet halls, Function Halls, Commercial properties).


            </li>

            <li>Reviews.
            </li>

        </ul>

        <b>Communications

        </b>
        <p>We may use your Personal Information to contact you with newsletters, marketing or promotional materials and
            other information.
        </p>
        <b>Payment:
        </b>
        <p>We will take appropriate steps to protect your privacy towards the payments. Whenever the user provides any
            sensitive information like a credit card/ Debit card number to make payment through Pay Rent, we will take
            reasonable steps to protect it, such as encrypting your card number. We will also take reasonable security
            measures to protect your personal information either the demographic information or the credit/ debits card
            numbers in the storage. The Credit card numbers are used only for payment processing and are not retained
            for any of the marketing purposes.
        </p>
        <p>The charges/fees for the various Services offered by Nearluk have been clearly set forth in the Website. The
            paid services and free services offered thorough the Website and the free service is applicable on the basis
            of time bond. The details of the Services that are offered without charges and with charges are clearly set
            out in the Website or You may communicate with us by contacting our customer support to get more
            information. You understand that the Services offered without any charges are restricted to the limited
            number of days. In this regard the user must be required to pay the amounts, communicated by us or set forth
            in the Website, if you wish to avail any of the Services other than the free Services offered. Nearluk
            reserves the right to alter/modify the amounts payable for the Services without any prior notice. The
            details of cancellation and refund are provided in the cancellation-and-refund policy. There will be no
            refund of any amounts paid by you for availing the various Services offered by us through the Website,
            except expressly stated elsewhere.
        </p>
        <p>Nearluk may offer certain amount of discounts or other offers for the various rental Services. The terms and
            conditions of the offers/discounts shall be clearly set forth in the terms and conditions Website and the
            same may be time bound and hence you may not claim any offers/discounts when the time for the same has been
            lapsed/expired. There are specific services that which are offered directly by third party vendors and the
            role of Nearluk in such cases are only to post the availability of such services on our website. Nearluk
            will not be liable or responsible in any way for such services or the quality of such services. Any payments
            being made by users do not accrue to Nearluk and we will not entertain any requests for information /
            clarification regarding such Services.
        </p>

        <p>If for 6 months we don’t see any session activity/action in an account, that particular account will be
            considered as Inactive and the account will be kept in suspension. A customer would have another 3 months
            for the activation of listings/filters etc in that particular account. If no activity for the 9 months,
            these credits will be terminated/forfeited on particular user account of Inactivity for 9 months and the
            customer cannot claim any credits post this period.
        </p>


        <b>Legal Disclosures

        </b>
        <p>Nearluk discloses information of the user(s) when it is legally necessary, subpoena, or other legal procedure
            or if we have a good faith and believe that such disclosure is judiciously necessary for any investigation,
            preventing, or taking action concerning alleged or actual unlawful actions or in order to assist government
            enforcement organizations;

        </p>
        <ul>
            <li>
                Enforce agreements with the user(s)

            </li>
            <li>Investigate and protect ourselves against any third-party assertions or claims


            </li>
            <li>Defend the security or integrity of Nearluk Service (such as by sharing with enterprises facing similar
                risks)

            </li>
            <li>Exercise or defend the rights and security of Nearluk, our user(s), employees, or others.


            </li>



        </ul>


        <p>Nearluk notify the user(s) regarding any legal demands for their personal data(s) when applicable in our
            judgment, unless restricted by law or court order or when the demand is an emergency. We shall dispute such
            demands when we believe, in its sole discretion that the demands are overbroad, imprecise or lacks
            appropriate authority, but do not assure or make promises to anyone to challenge every demand.

        </p>

        <b>Cookies</b>
        <p>Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies are
            sent to your browser from a web site and stored on your computer’s hard drive. Like many sites, we use
            “cookies” to collect information. You can instruct your browser to refuse all cookies or to indicate when a
            cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our
            Site. 

        </p>

        <b>Security
        </b>
        <p>Quality is of paramount importance for our business, Nearluk will periodically verify the authenticity,
            availability and integrity of the content posted by the user. If it is found that the content is not as per
            quality guideline or member is not available to answer the call, Nearluk reserves the right to put the
            content on hold until the suggested resolution is verified. Repeated abuse of quality guidelines can lead to
            cancellation of product / services for the user.

        </p>


        <b>Third Party Services 

        </b>
        <p>Controlling your personal information, we will not sell, distribute or lease your personal information to
            third parties unless we are required by law to do so. </p>


        <b>Changes to This Privacy Policy

        </b>
        <p>If we change our privacy policy, we will prominently post a link to those changes on our Homepage so you are
            always aware of what information we collect, how we use it, and under what circumstances, if any, we
            disclose it. If at any point we decide to use personally identifiable information in a manner materially
            different from that stated at the time it was collected, we will notify you by way of an email. We will give
            you a choice as to whether or not we can use information in this different manner and act accordingly.
        </p>

        <p>The User hereby acknowledge that Nearluk is not responsible for any intercepted information sent via the
            internet, and the User hereby releases Nearluk from any and all claims arising out of or related to the use
            of intercepted information in any unauthorized manner.
        </p>

        <b>Disclaimer

        </b>
        <p>Nearluk is free to offer their services to any client or potential client without any restriction.
            Nearluk can be used by numerous property owners, builders, developers, tenants, agents, landlords,
            institutional property consultants, mortgage professionals any other interested individual related to the
            commercial or non-commercial rental property. The User(s) are strongly advised to carry out on their own an
            independent third-party verification whether marked verified or not by Nearluk before proceeding with any
            transactions involving real estate. The onus of finding a genuine rental property, for rental purpose,
            depends on the user.

        </p>

        <b>
            How to Contact us 
             </b>
        <p>Any user(s) or member(s) or visitor(s) can contact us for any enquires, concerns, suggestions, feedback
            regarding our privacy practices at the contact details given below.

        </p>




        <b>Contact details
        </b>

        <h6>Phone No- 04023357777 M +91-81215-77755

        </h6>
        <h6>Email ID- info@Nearluk.com and support@Nearluk.com
        </h6>
        <br>
        <br>
    </div>
</div>